/* Colors: */
$button-primary: #005fbc;
$button-primary-hover: #0080ff;
$button-disabled: #cccccc;
// --unnamed-color-005fbc: #005FBC;
// --unnamed-color-121212: #121212;
// --unnamed-color-ffffff: #FFFFFF;
// --unnamed-color-eeeeee: #EEEEEE;
// --unnamed-color-aaaaaa: #AAAAAA;
// --unnamed-color-bbbbbb: #BBBBBB;
// --unnamed-color-cccccc: #CCCCCC;
// --unnamed-color-41a0ff: #41A0FF;
